:root {
  /* Tweak pane theme */
  --tp-base-background-color: hsla(230, 7%, 17%, 1);
  --tp-base-shadow-color: transparent;
  --tp-button-background-color: hsla(230, 7%, 70%, 1);
  --tp-button-background-color-active: hsla(230, 7%, 85%, 1);
  --tp-button-background-color-focus: hsla(230, 7%, 80%, 1);
  --tp-button-background-color-hover: hsla(230, 7%, 75%, 1);
  --tp-button-foreground-color: hsla(230, 7%, 17%, 1);
  --tp-container-background-color: hsla(230, 7%, 75%, 0.1);
  --tp-container-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-container-background-color-focus: hsla(230, 7%, 75%, 0.2);
  --tp-container-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-container-foreground-color: hsla(230, 7%, 75%, 1);
  --tp-groove-foreground-color: hsla(230, 7%, 75%, 0.1);
  --tp-input-background-color: hsla(230, 7%, 75%, 0.1);
  --tp-input-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-input-background-color-focus: hsla(230, 7%, 75%, 0.2);
  --tp-input-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-input-foreground-color: hsla(230, 7%, 75%, 1);
  --tp-label-foreground-color: hsla(230, 7%, 75%, 0.7);
  --tp-monitor-background-color: hsla(230, 7%, 0%, 0.2);
  --tp-monitor-foreground-color: hsla(230, 7%, 75%, 0.7);
}

.inspector__root {
  position: fixed;
  width: 300px;
  height: 100%;
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  z-index: 1001;
}

.inspector__root:has(> :nth-child(2)) {
  grid-template-rows: 1fr 5fr;
}

.inspector__open-button {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 1000;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inspector__panel {
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 6px;
  line-height: 1.2;
  font-family: monospace;
  box-sizing: border-box;
  color: #fff;
  font-size: 11px;
  background-color: #28292e;
}

.inspector__panel-body {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.inspector__panel-title-section {
  background-color: #bbbcc41a;
  width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: 2px;
  position: relative;
  display: flex;
}

.inspector__panel-title {
  width: 100%;
  font-size: 0.95em;
  font-weight: 600;
  text-align: center;
}

.inspector__panel-close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 4px;
  padding: 0;
  line-height: 1;
}

.inspector__panel-list-item {
  padding: 0 0 0 8px;
  text-align: left;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inspector__panel-list-item:hover {
  background-color: #bbbcc40e;
}

.inspector__panel-body {
  width: 100%;
  padding: 0 4px;

  box-sizing: border-box;
}

.inspector__panel-entity-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
}

.inspector__badge {
  background-color: #444;
  color: #fff;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 0.8em;
  width: fit-content;
}
